@page "/"

    <article class="card blockquote">
        <section>
            <p>
                Welcome to the world of Blazor!
            </p>
            <p class="card-text blockquote">
                This is a movie database web application. The application authorizes the authenticated(logged-in)users to view their own data.
                It therefore uses data-protection so that the logged-in users can only view the records created by themselves, not all the data
                created by everyone.
            </p>
            <p class="card-text blockquote">
                You need to register and login to view your data and perform create, updata and delete operations.
                Once you log in, click the Movie menu on the left to start.
                Enjoy your experience with Blazor !!
            </p>
        </section>
    </article>